body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 20px 45px;
}

.nav-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 20px;

}

nav p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}
header{
    background-color: rgba(229, 84, 115, 0.10);;
    display: flex;
    padding: 50px 240px;
}
header image {
    padding: 50px 240px;
}